@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  @apply bg-tw_bg text-tw_text_light font-semibold;
}

.active-link {
  text-shadow: 0px 0px 7px #e6c08870;
  @apply text-tw_primary;
}
